################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/Toolkit/bin
/src/Toolkit/obj
/src/Toolkit.Base/bin
/src/Toolkit.Base/obj
/src/Toolkit.Contract/bin
/src/Toolkit.Contract/obj
/src/TopMost/bin
/src/TopMost/obj
/src/JsonFormat/bin
/src/JsonFormat/obj
